body { margin: 15px; font: 14px "roboto mono", consolas, monospace; color: #333; }
select { display: block; width: 100%; margin-bottom: 15px; }
select option:disabled { color: #ccc; }

h1, h2 { margin: 0; }
h1 { font-size: 24px; }
h2 { font-weight: 400; font-size: 18px; color: #999; }

pre { margin-top: 15px; font: inherit; line-height: 1.5; }
pre em, pre b { font-style: normal; font-weight: 700; color: #fa0; }